*{
	padding:0;
	margin: 0;
	font-size:12px;
}
body{
	background-color: #F5F5F5;
}
.top{
	height: 27px;
	width: 100%;
	background: url(../images/top_bg.jpg) repeat-x;
}
.top_content{
	width: 1000px;
	margin:0 auto;
	line-height: 27px;
}
.top_content li{
	float:right;
	width: 70px;
	list-style-image: url(../images/arrow.jpg);
}
.top_content a:link, .top_content a:visited{
	color: #8E8E8E;
	text-decoration: none;
}
.top_content a:hover, .top_content a:active{
	color: #C00;
	text-decoration: none;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
}
.logo{
	background: #fff;
	height: 85px;
}
.logo_left{
	float: left;
	width: 375px;
}
.logo_right{
	float: right;
	width: 300px;
	height: 28px;
	color: #8E8E8E;
	margin-top: 30px;
}
.logo_right img{
	margin-right: 10px;
	display: inline-block;
}
.tel{
	font-size: 20px;
	font-family: "微软雅黑";
	margin-bottom: 20px;
	margin-right: 35px;
	float: right;
}
.nav{
	height: 40px;
	background: #766d66;
	border-radius: 5px;
}
.nav_left li{
	list-style-type: none;
	line-height: 40px;
	width: 100px;
	text-align: center;
	float: left;
}
.nav_left a{
	text-decoration: none;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #fff;
}
.nav_left a:hover, .nav_right a:active{
	color: #c93849;
	font-size: 16px;
	font-family: "微软雅黑";
}
.nav_right{
	float: right;
}
.search_text{
	height: 25px;
	width: 190px;
	margin-top: 6px;
	border: 1px solid #fff;
	background: url(../images/search.jpg)no-repeat right center;
	background-color: #fff;
	margin-right: 20px;
	padding-right: 25px;
}

.main{
	height: 250px;
	margin-top: 10px;
	background: #fff;
}
.news{
	width: 340px;
}
.course{
	width:410px;
	margin:0 7px;
}
.sidebar{
	width: 230px;
}
.news,.course,.sidebar{
	float: left;
	height: 250px;
	border: 1px solid #aaa;
}
.title{
	height: 35px;
	border-bottom: 2px solid #e8e8e8;
}
.title_left{
	width: 70%;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #786f66;
	float: left;
	line-height: 35px;
	padding-left: 20px;
}
.title_right{
	width: 20%;
	float: right;
	line-height: 35px;
	text-align: right;
	padding-right: 10px;
}
.title_right a{
	text-decoration: none;
	color: #999;
}
.pic_news{
	height: 80px;
	margin-top: 10px;
	line-height: 22px;
}
.pic_news img,.course_pic img{
	float: left;
	margin: 0 5px;
}
.pic_news a,.course_pic a{
	color: #c00;
	text-decoration: none;
}
.news_list{
	margin-top: 20px;
}
.news_list li{
	list-style-type: none;
	background: url(../images/list.jpg)no-repeat;
	padding-left: 10px;
	margin: 8px;
	border-bottom: 1px dotted #ccc;
}
.news_list a:link,.news_list a:visited{
	text-decoration: none;
	color: #000;
}
.news_list a:hover,.news_list a:active{
	text-decoration: none;
	color: #f00;
}
.news_list span{
	color: #999;
	float: right;
}
.course_pic{
	height: 120px;
	margin-top: 10px;
	line-height: 22px;
}
.course_type{
	height: 37px;
	width: 372px;
	margin: 20px auto;
	background: url(../images/product_type_bg.jpg)no-repeat;
}
.course_type li{
	list-style-type: none;
	float:left;
	line-height: 37px;
	margin: 0 15px;
	text-align: center;
}
.course_type li:hover{
	color: #f00;
}
.video{
	height: 185px;
	border:1px solid #e8e8e8;
}
.video_content{
	height: 150px;
}
.sidebar_ad{
	height: 55px;
	border:1px solid #e8e8e8;
	margin-top: 10px;
}
.copyright{
	width: 100%;
	height: 200px;
	background-color: #e8e8e8;
	margin-top: 10px;
}
.copyright_content{
	width: 1000px;
	margin:0 auto;
	padding-top: 20px;
}
.copyright_content li{
	list-style-type: none;
	float: left;
	width: 200px;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
	background: url(../images/line.png)no-repeat right center;
}
.copyright_content a{
	text-decoration: none;
	color: #999;
	font-size: 18px;
}
.copyright_content li ul li{
	font-size: 14px;
	color: #999;
}